* {
    margin: 0;
    padding: 0;
}

table {
    border-collapse: collapse;
}

td, th {
    padding: 3px;
    height: 50px;
    width: 100px;
    border: 1px solid gainsboro;
    text-align: left;
}

.nav {
    width: 800px;
    text-align: right;
}

tbody tr td:nth-child(4) {
    width: 200px;
}

tbody tr td:nth-child(4) button {
    width: 30px;
    height: 30px;
}

tbody tr td:nth-child(4) input {
    width: 30px;
    height: 30px;
    border: 1px solid gainsboro;
    border-radius: 5px;
}

.nav button {
    width: 150px;
    height: 40px;
    background: red;
    color: white;
    border: 0;
    border-radius: 5px;
}

button {
    width: 90px;
    height: 40px;
    background: blue;
    border: 0;
     color: white;

}

a {
    text-decoration: none;
}
 .tooltip {
        border: 1px solid black;
        width: 230px;
        margin-left: 58px;
        margin-top: -35px;
        background-color: darkcyan;
        border-radius: 4px;
        height: 20px;
        color: white;
    }
